[Desktop Entry]
Name=Canaima Apure Bienvenido
Name[es_VE]=Canaima Apure  Bienvenido
GenericName=Canaima Apure Bienvenido
GenericName[es_VE]=Canaima Apure Bienvenido
Comment=Canaima Apure Bienvenido
Comment[es_VE]=Canaima Apure Bienvenido
Exec=canaima-bienvenido-gnome
Type=Application
Icon=/usr/share/icons/Gnamon/places/scalable/canaima-logo.svg
Categories=GNOME;GTK;Utility;
X-GNOME-FullName=Canaima Apure Bienvenido
X-GNOME-FullName[es]=Canaima Apure Bienvenido
